In [1]:
#importing the sqlite for extracting data from the tables already created or to be created
import sqlite3

In [3]:
#trying a connection to the classroom db, you can change the name and location to any db you want to point
connection = sqlite3.connect("classroomDB.db") 
cursor = connection.cursor()
#creating a cursor and using it to execute our sql queries 
create_table = """CREATE TABLE classroom(student_id INTEGAR PRIMARY KEY,name VARCHAR(20),gender CHAR(1),marks INTEGAR);"""
cursor.execute(create_table)

In [4]:
#commit our connection means roughly that we are saving our data in the db for any changes we have made by now
connection.commit()

In [5]:
classroom_data = [ (1,"Raj","M",45), (2,"Simran","F",45), (3,"Priyanka","F",45)]

In [9]:
#using a loop to add the data to the table using our cursor 
for student in classroom_data:
    insert_stat = """INSERT INTO classroom(student_id,name,gender,marks) VALUES ({0},"{1}","{2}",{3})""".format(student[0],student[1],student[2],student[3])
    cursor.execute(insert_stat)
connection.commit()

In [10]:
query = "SELECT * FROM classroom"
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print (row)

(1, 'Raj', 'M', 45)
(2, 'Simran', 'F', 45)
(3, 'Priyanka', 'F', 45)